hr {
  color: white;
  margin-bottom: 1%;
}

.container {
  background-color: #f8f8f8;
  color: #253a7d;
  font-family: "Roboto", sans-serif;
  min-height: 100vh;
}

.logo-bar {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}